.controller{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 240px;
    background-color:rgba(192,192,192,0.2);
    padding: 10px;
    display: grid;
    button {
        margin: 5px;
    }
}

.upcont{
    position: fixed;
    top: 100px;
    left: 10px;
    width: 240px;
    background-color:rgba(192,192,192,0.2);
    padding: 10px;
    display: grid;
    button {
        margin: 5px;
    }
}
.worker-list{
    position: fixed;
    top: 10px;
    left: 10px;
    width: 280px;
    background-color:rgba(102,102,102,0.7);
    padding: 5px;
    display: grid;
    button {
        margin: 5px;
    }
}

.pstat-list{
    position: fixed;
    top: 10px;
    left: 10px;
    width: 280px;
    background-color:rgba(102,102,102,0.7);
    padding: 5px;
    display: grid;
    button {
        margin: 5px;
    }
}

.pstat-center-list{
    position: fixed;
    top: 10px;
    left: 300px;
    width: 280px;
    background-color:rgba(102,102,102,0.7);
    padding: 5px;
    display: grid;
    button {
        margin: 5px;
    }
}



.form-control{
    color: rgba(60,60,60,0.8)
}

.form-center-control {
    color: rgba(60,60,60,0.8);
    text-align: center;
}

.frame-controller {
    position: fixed;
    width: 1800px;
    height: 80px;
    bottom: 10px;
    background-color:rgba(192,192,192,0.2);
    padding: 20px;
    display: grid;
    button {
        margin: 5px;
    }
}

.xr-input-range {
    cursor: pointer;
    position:fixed;
    width: 95%;
    display: grid;
    background-color:rgba(192,192,192,0.2);
}

.xr-input-range-sm {
    -webkit-appearance: none;
    cursor: pointer;
    position:fixed;
    width: 500px;
    height: 10px;
    left: 100px;
    display: grid;
    background-color:rgba(192,192,192,0.2);
    &::-webkit-slider-thumb{
        width: 10px;
        height: 10px;
    }
}

.xr-input-range-sm2 {
    -webkit-appearance: none;
    cursor: pointer;
    position:fixed;
    width: 500px;
    height: 10px;
    left: 600px;
    display: grid;
    background-color:rgba(192,192,192,0.2);
    &::-webkit-slider-thumb{
        width: 10px;
        height: 10px;
    }
}



.hudOverlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 1%;  
    height: 1%;
    padding: 10px;
    display: grid;
    button {
        margin: 5px;
    }
}
